[; extends "base.html" ;]
[; block content ;]
<div class="charts text-center">
        <iframe width="800" height="600" frameborder="0" seamless="seamless" scrolling="no"
                src="https://plot.ly/~pauleikis/33.embed?width=800&height=600"></iframe>
        <iframe width="800" height="600" frameborder="0" seamless="seamless" scrolling="no"
                src="https://plot.ly/~pauleikis/35.embed?width=800&height=600"></iframe>
        <iframe width="800" height="600" frameborder="0" seamless="seamless" scrolling="no"
                src="https://plot.ly/~pauleikis/84.embed?width=800&height=600"></iframe>
        <iframe width="800" height="600" frameborder="0" seamless="seamless" scrolling="no"
                src="https://plot.ly/~pauleikis/89.embed?width=800&height=600"></iframe>
</div>
[; endblock ;]